html, body {
    background-color: #EEEEEE;
    height: 100%;
    width: 100%;
}

.center {
    text-align: center;
}

.dropdown .center {
    left: auto!important;
    right: -30%!important;
}
.dropdown .center:after {
    left: auto!important;
    right: 50%!important;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.inline {
    display: inline-block!important;
}

.jumbotron {
    padding: 0;
    margin: 0;
}

.row {
    padding: 0;
    margin: 0;
}

header.jumbotron {
    height: 80px;
    background-color: #001C53;
}

nav.jumbotron {
    height: 70px;
}

#enk-logo-container {
    height: 80px;
    padding-left : 8%
}

#enk-logo {
    height: 100%;
    margin: 0;
}

header .header-menu {
    height : 80px;
    padding: 10px;
}

nav #nav-buttons {
    padding: 15px;
}

.enk-button {
    border-radius: 0;
    background-color: #A9B5CB;
}

.menu-button {
    padding: 5px;
}

.search-bar {
    margin-right: 14px; 
    background-color: #D4DAE5; 
    background-image: url('../img/recherche.svg'); 
    background-repeat: no-repeat; 
    background-position: -15px -18px;
}

#link-cloud {
    background-color: #003083;
}

#link-notifications {
    background-color: #66E6FF;
}

#link-messages {
    background-color: #00D4FF;
}

a[id^="link-"] {
    height: 73px;
}

a[id^="link-"] img {
    margin: 21px;
    height: 40%;
    width: 40%;
}

.storage-button {
    margin: 4px;
    background-color: #001C53; 
    color: #66E6FF;
    margin-right: 5%;
}

.storage-button:hover {
    color: #66E6FF
}
.storage-button:focus {
    color: #66E6FF;
}

.files-buttons {
    margin: 4px;
    background-color: #D4DAE5; 
    color: #001C53;
}

.dropdown a {
    color: #001C53;
    text-decoration: none;
}

#left-menu {
    position: absolute;
    text-align: center; 
    background-image: linear-gradient(#A9B5CB, #D4DAE5);
    height: calc(100% - 150px);
}

.left-menu-selected {
    background-color: #001C53!important;
    color: white!important;
}

.left-submenu-selected {
    background-color: #29354e!important;
    color: white!important;
    padding: 2px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    max-width: 50%!important;
}

.left-menu-stockage {
    display: block;
    margin: 15px;
    width: 90%;
    color: #001C53;
    border: 0; 
    height: 30px;
    max-height: 30px;
}

.left-menu-stockage:hover, .left-menu-notifications:hover, .left-menu-messagerie:hover {
    color: white;
    text-decoration: none;  
}

.left-menu-stockage span {
    padding-top: 4px;
}

.left-menu-notifications, .left-menu-messagerie {
    display: block;
    margin: 15px;
    width: 90%; 
    background-color: transparent; 
    color: #001C53;
    border: 0;
}

.left-submenu-messagerie {
    display: block;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    background-color: transparent; 
    color: #001C53;
    border: 0;
}

.left-submenu-messagerie:hover {
    color: white;
    text-decoration: none;  
}

.cloud-project {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #A9B5CB;
}

#comment {
    visibility: hidden;
    width: 100%;
    height: 200px;
    resize: none;
}

#edit-comment {
    visibility: hidden;
    margin-top: 10px;
}

.previous_files {
    margin: 5px;
    margin-left: -10px;
    cursor: pointer;
}

#files {
    position: absolute;
    left: 25%;
    max-width: 75%;
    width: 75%;
    height: calc(100% - 155px);
}

#files .files-table {
    height: 50%;
    max-height: 50%;
    overflow: auto;
}

#client-files .ui-selecting {
    background: #66E6FF;
}

#client-files .ui-selected { 
    background: #00D4FF;
}

.drag-zone {
    height: 220px;
}

.drag-top {
    height: 30px;
}

.drag-menu {
    width: 100%;
    background-color: #001C53; 
    color: white;
}

.adaptated-src {
    height: 20px; 
}

.white-tip {
    border-left: 1px solid white;
}

.table-header {
    background-color: #001C53;
    color: white;
}

.white-border {
    border-left: 2px solid white;
}

.file {
    cursor: pointer;
}

th {
    font-weight: normal;
}

td {
    padding-left: 5px;
    border-bottom: 2px solid #A9B5CB;
}

/* CSS3 Responsive */

/* Tablettes */
@media only screen and (min-width: 768px) and (max-width: 1280px) {
    a[id^="link-"] img {
        margin: 15px;
        margin-left: auto;
        margin-right: auto;
        height: 60%;
        width: 60%;
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {    
    header .header-menu {
        padding: 24px;
    }

    .projects-button {
        margin-right: 5px;
        padding: 5px;
    }

    #files {
        position: relative;
        left: 0;
        width: 100%;
        max-width: 100%;
    }
    #files .table-responsive {
        height: auto;
        max-height: auto;
    }
}

.show-on-phones {
    display: none!important;
}
.show-on-tablets {
    display: none!important;
}
.show-on-desktops {
    display: block;
}
.hide-on-phones {
    display: block!important;
}
.hide-on-tablets {
    display: block!important;
}
.hide-on-desktops {
    display: none;
}

/*@media only screen and (device-width: 768px), only screen and (device-width: 1280px), only screen and (device-width: 800px) {*/
@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .hide-on-phones {
        display: block!important;
    }
    .hide-on-tablets {
        display: none!important;
    }
    .hide-on-desktops {
        display: block!important;
    }
    .show-on-phones {
        display: none!important;
    }
    .show-on-tablets {
        display: block!important;
    }
    .show-on-desktops {
        display: none!important;
    }
}

@media only screen and (max-width: 767px) {
    .hide-on-phones {
        display: none!important;
    }
    .hide-on-tablets {
        display: block!important;
    }
    .hide-on-desktops {
        display: block!important;
    }
    .show-on-phones {
        display: block!important;
    }
    .show-on-tablets {
        display: none!important;
    }
    .show-on-desktops {
        display: none!important;
    }
}