.DnDLabel {
    float: right;
}

.DnDPercent {
    position: absolute;
    left: 20px;
    color: white;
}

.DnDTrash {
    margin: 2px;
    float: right;
    color: #d9534f;
    cursor: pointer;
    font-weight: bold;
}