body
{
	background-color: #444;
    background: url(http://enkcloud.com/img/background_flot.png), url(http://enkcloud.com/img/background.jpg);
}

.logo
{
	text-align: center;
}

.vertical-offset-100
{
    padding-top: 300px;
}

.btn-submit
{
	background-color: #00D4FF;
	color: #003083;
}